body {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

topmenu {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  background-color: #444444;
  padding: 10px 60px;
  font-weight: 100;
  /* box-sizing: border-box; */

}

.topmenuitem {
  color: white;
  font-size: 32px;
  font-weight: 100;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

bio, achievements, experience, training {
  display: flex;
  width: 100%;
  flex-direction: row;
}

#bio {
  position: relative;
  height: 500px;
  background-image: url("https://scontent-vie1-1.xx.fbcdn.net/v/t1.15752-9/67951718_2649146525098014_5003635542630334464_n.jpg?_nc_cat=101&_nc_sid=b96e70&_nc_oc=AQnW8rqX2IF4TXa4gP-9mmRKNfauzqx7JVx7j2N2yzgm2MCgIukJoUyHc7n4G1I2u4PVReayDWIvVeJjRvgc-Vgf&_nc_ht=scontent-vie1-1.xx&oh=4ea5023a262ce73827963225f424c35b&oe=5ECF69F0");
  background-size: auto 100%;
  background-position: calc(50% - 25px) 50%;
  min-height: 100%;
  }

.leftside {
  min-width: 40%;
}

blockquote {
  position: relative;
  width: 65%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #444444;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 50px;
  padding: 50px 45px;
  text-align: left;
}

blockquote::before {
  content: '”';
  font-size: 3em;
  position: absolute;
  left: 0;
  top: -110px;
  transform: rotate(180deg);

}

.rightside {
  min-width: 60%;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 1.5em;
  line-height: 1.5;
}

.chapter{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
}

.ribbon {
  font-weight: bold;
  font-size: 30px;  
}

.details {
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: -10px;
}

table {
  table-layout: auto;
  width: 100%;
  margin-top: 40px;
}

th {
  text-align: left;
}

tr {
  line-height: 35px;
}

td input {
  height: 93%;
  width: 90%;
  border: 1px solid lightgrey;
  margin: none;
  padding-left: 10px;
  border-radius: 4px;
}

.addbutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  height: 30px;
  width: 20%;
  border-radius: 4px;
  border: 0px;
  padding: none;
  background-color: lightgrey;
  color: #444444;
  font-weight: bold;
}

.addbutton:hover {
  background-color: #444444;
  color: white;
  transition-duration: 0.5s;
}